<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo01.pdkpro.bong_bay">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Control.MainControl"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Control.SelectMonsterScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Control.GamePlayScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Control.MapScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Control.IntroduceScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Control.HighScoreScreen"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
